html {
  font-size: 16px; }

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6666;
  color: #222;
  padding-left: 2rem;
  padding-right: 2rem; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.small {
  font-size: 0.75rem; }

#articles {
  margin-right: 210px; }

#navwrap {
  float: right;
  background-color: white;
  padding-left: 0.25rem;
  padding-bottom: 2rem; }

#nav {
  width: 180px;
  padding: 0.25rem 0.5rem;
  background-color: #eee;
  border-radius: 0.25rem; }
  #nav ul.subscriptions {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; }
  #nav ul.planetarium {
    list-style-type: square; }

#opts {
  float: right;
  width: 200px;
  background-color: white;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  color: grey; }
  #opts a {
    text-decoration: none;
    color: grey; }
    #opts a:hover {
      text-decoration: underline; }
  #opts #show-headlines,
  #opts #show-snippets,
  #opts #show-fulltext {
    cursor: pointer; }

.new-date {
  border-bottom: 1px solid #aac;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.item {
  padding: 0rem 0rem 1rem 0rem; }
  .item .item-content,
  .item .item-summary,
  .item .item-snippet {
    font-size: 1rem;
    margin-top: 1rem; }
    .item .item-content h1, .item .item-content h2, .item .item-content h3, .item .item-content h4, .item .item-content h5, .item .item-content h6,
    .item .item-summary h1,
    .item .item-summary h2,
    .item .item-summary h3,
    .item .item-summary h4,
    .item .item-summary h5,
    .item .item-summary h6,
    .item .item-snippet h1,
    .item .item-snippet h2,
    .item .item-snippet h3,
    .item .item-snippet h4,
    .item .item-snippet h5,
    .item .item-snippet h6 {
      font-size: 100%; }
  .item .item-snippet {
    display: none;
    /* fix/todo: move to scss partial for reuse eg. _snippet.scss or similar */ }
    .item .item-snippet b, .item .item-snippet h1, .item .item-snippet h2, .item .item-snippet h3, .item .item-snippet h4, .item .item-snippet h5, .item .item-snippet h6 {
      font-weight: normal; }
    .item .item-snippet p, .item .item-snippet ul, .item .item-snippet ol, .item .item-snippet h1, .item .item-snippet h2, .item .item-snippet h3, .item .item-snippet h4, .item .item-snippet h5, .item .item-snippet h6 {
      margin: 2px 0px 2px 0px; }
    .item .item-snippet p, .item .item-snippet h1, .item .item-snippet h2, .item .item-snippet h3, .item .item-snippet h4, .item .item-snippet h5, .item .item-snippet h6 {
      padding: 0; }
  .item .item-header {
    background: #e4e4f0;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    border: 1px solid #aac;
    border-radius: 0.25rem; }
    .item .item-header .item-caret {
      display: inline-block;
      vertical-align: top;
      width: 1rem; }
    .item .item-header .item-info {
      display: inline-block;
      vertical-align: top; }
  .item .item-title {
    margin-top: 0;
    margin-bottom: 0; }
  .item .item-footer {
    font-size: 0.75rem;
    color: grey;
    margin-top: 0.75rem; }
  .item .item-collapse,
  .item .item-close,
  .item .item-opened {
    color: grey;
    cursor: pointer; }
  .item .item-expand,
  .item .item-open,
  .item .item-closed {
    color: grey;
    cursor: pointer;
    display: none; }

.authors {
  font-size: 0.75rem;
  color: grey; }

img {
  max-width: 100%; }

/*# sourceMappingURL=blank.css.map */
