html {
  font-size: 16px; }

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6666;
  color: #222;
  padding-left: 2rem;
  padding-right: 2rem; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

img {
  max-width: 100%; }

.tr-small {
  font-size: 0.75rem; }

ul.tr-subscriptions {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }

details {
  position: relative; }
  details .tr-chevron {
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    display: block;
    pointer-events: none;
    background-color: #eee; }
  details summary {
    list-style: none; }
  details summary::-webkit-details-marker {
    display: none; }

.tr-panel {
  float: right;
  background-color: #eee;
  border-radius: 0.25rem;
  width: 180px;
  padding: 0.25rem 0.5rem; }

.tr-opts {
  float: right;
  padding-top: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #222; }

.tr-articles.tr-shrink {
  margin-right: 210px; }

.tr-button {
  cursor: pointer; }

.tr-new-date {
  border-bottom: 1px solid #aaa;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.tr-article {
  padding: 0rem 0rem 1rem 0rem; }
  .tr-article .tr-article-summary,
  .tr-article .tr-article-snippet {
    font-size: 1rem;
    margin-top: 1rem; }
    .tr-article .tr-article-summary h1, .tr-article .tr-article-summary h2, .tr-article .tr-article-summary h3, .tr-article .tr-article-summary h4, .tr-article .tr-article-summary h5, .tr-article .tr-article-summary h6,
    .tr-article .tr-article-snippet h1,
    .tr-article .tr-article-snippet h2,
    .tr-article .tr-article-snippet h3,
    .tr-article .tr-article-snippet h4,
    .tr-article .tr-article-snippet h5,
    .tr-article .tr-article-snippet h6 {
      font-size: 100%; }
  .tr-article .tr-article-snippet {
    display: none;
    max-height: 5rem;
    overflow: hidden; }
    .tr-article .tr-article-snippet b, .tr-article .tr-article-snippet h1, .tr-article .tr-article-snippet h2, .tr-article .tr-article-snippet h3, .tr-article .tr-article-snippet h4, .tr-article .tr-article-snippet h5, .tr-article .tr-article-snippet h6 {
      font-weight: normal; }
    .tr-article .tr-article-snippet p, .tr-article .tr-article-snippet ul, .tr-article .tr-article-snippet ol, .tr-article .tr-article-snippet h1, .tr-article .tr-article-snippet h2, .tr-article .tr-article-snippet h3, .tr-article .tr-article-snippet h4, .tr-article .tr-article-snippet h5, .tr-article .tr-article-snippet h6 {
      margin: 2px 0px 2px 0px; }
    .tr-article .tr-article-snippet p, .tr-article .tr-article-snippet h1, .tr-article .tr-article-snippet h2, .tr-article .tr-article-snippet h3, .tr-article .tr-article-snippet h4, .tr-article .tr-article-snippet h5, .tr-article .tr-article-snippet h6 {
      padding: 0; }
  .tr-article .tr-article-header {
    background-color: #eee;
    padding: 0.5rem 0.5rem 0rem 1rem;
    border: 1px solid #aaa;
    border-radius: 0.25rem; }
    .tr-article .tr-article-header .tr-article-title {
      margin-top: 0;
      margin-right: 1.5rem;
      margin-bottom: 0; }
  .tr-article .tr-article-footer {
    font-size: 0.75rem;
    color: #888;
    margin-top: 0.75rem; }

.authors {
  font-size: 0.75rem;
  color: #888; }

/*# sourceMappingURL=theory.css.map */
